body {
    background-image: url(./sahara-desert.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}
.container {
    height: 100%;
    display: flex;
    flex-flow: column;
     justify-content: center; 
    align-items: center;
    background-size: 100vw;
}
.navbar {
    width: 85%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 0px 10px;
}
.right {
    display: flex;
    align-items: center;
}
.navbar ul {
    display: flex;
    list-style-type: none;
   gap: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
